@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 4rem;
  --footer-height: 8rem;
  --dvh: calc(100dvh - var(--header-height));
  --peekHeight: 2rem;
  --dvhMinusPeek: calc(var(--dvh) - var(--peekHeight));
  --dvhPlusPeek: calc(var(--dvh) + var(--peekHeight));

  --primary: hsl(189, 94%, 43%);
  /* --dark: hsl(); */
}


.embla {  
  overflow: hidden;
  width: 100%;
  /* position: relative; */
  /* border: 1px solid yellow; */
}
/* .embla__container {  
  display: flex;
  position: relative;
} */
.embla__slide { 
  /* border: 1px solid red; */
  /* flex: 0 0 100%;  */
  min-width: 0;
}