---
const { title } = Astro.props;
import { HeaderTest } from "../components/HeaderTest";
import { Logo } from "../components/Logo";
import { Navigation } from "../components/Navigation";

const { classes } = Astro.props;
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Vehicle Sourcing, Purchasing, Financing and Coverage">
  <meta title={title}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
  <!-- <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script> -->
  <title>VehicleSearcher</title>
</head>
<body>
  <main class={classes}>
    <HeaderTest className="fixed">
      <!-- <div class="header-bg opacity-0 bg-sky-50 shadow-sm  fixed h-headerHeight 3xl:h-headerHeight top-0 left-0 w-full z-50"></div> -->
      <!-- <Logo /> -->
      <Navigation className="" client:load />
 
      <Logo className=" logo-light opacity-0  top-0 left-0 h-headerHeight 3xl:h-headerHeight-lg  flex items-center pl-6 3xl:pl-header-lg  text-slate-50 text-[23px] 3xl:text-[30px] z-50" />
      <Logo className=" logo-dark fixed top-0 left-0 h-headerHeight 3xl:h-headerHeight-lg flex items-center pl-6 3xl:pl-header-lg text-slate-700 text-[23px] 3xl:text-[30px] z-50" />

<!-- 
      <MobileNav className="fixed top-0 right-0 h-headerHeight pr-6 text-dark z-50" client:only="react"/>
    
      <Navigation className="hidden fixed top-0 right-0 h-headerHeight 3xl:h-headerHeight-lg md:flex md:justify-start md:items-center md:px-header md:space-x-6 3xl:px-header-lg text-base 3xl:text-lg z-50" /> -->
    </HeaderTest>
    <slot />
  </main>
</body>
</html>