---
const { title } = Astro.props;
import { Header } from "../components/Header";
import { MobileNav } from "../components/MobileNav";
import { Navigation } from "../components/Navigation";

const { classes } = Astro.props;
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Vehicle Sourcing, Purchasing, Financing and Coverage">
  <meta title={title}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
  <title>VehicleSearcher</title>
</head>
<body>
  <main class={classes}>
    <Header className="">

      <MobileNav className="fixed top-0 right-0 h-headerHeight pr-6 text-dark z-50" client:only="react"/>
      <!-- <MobileNav className="fixed top-0 right-0 h-headerHeight pr-6 z-50" client:only=""/> -->
      <Navigation className="hidden fixed top-0 right-0 h-headerHeight md:flex md:justify-start md:items-center md:px-header md:space-x-6 z-50" />
    </Header>

    <slot />
  </main>
</body>
</html>